.container{
    width: 1200px;
    margin: 0 auto;
}
.header{
    height: 39px;
    display: flex;
    justify-content: space-between;
    margin-top: 44px;
    align-items: center;
}
.link{
    margin-left: 20px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 41px;   
    text-transform: uppercase; 
    display: inline-block;
}
.uli{
    display: flex;
    
}

.href{
    text-decoration: none;
}
.Serv{
    color: #222222;
    margin-bottom: 100px;
    width: 1200px;
    height: 75px;   
    font-family: Montserrat;
    font-weight: bold;
    font-size: 40px;
    line-height: 75px;
    text-transform: uppercase;
display: flex;
justify-content: center;


}
.Sevic{
display: flex;
flex-wrap: wrap;
justify-content: center;
}
.pos{
font-family: Roboto Slab;
font-size: 14px;
line-height: 16px;
letter-spacing: -0.35px;
width: 304px;
color: #777777;
text-align: center;
}

.span{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 75px;
    letter-spacing: -0.45px;
    color: #222222;
    display: flex;
    justify-content: center;
}
.rel{
    border: 3px solid #FED136;
    border-radius: 50%;
    width: 75px;
    height: 75px;
    background: url("./Combined\ shape\ 134.png") no-repeat;
    background-position: center;
    margin: 0 auto;
    
}
.rel2{
    background: url("./Combined\ shape\ 132.png") no-repeat;
    background-position: center;
}
.rel3{
    background: url("./Combined\ shape\ 130.png") no-repeat;
    background-position: center;
}
.cen{
    display: flex;
    justify-content: center;
    align-items: center;
}
.borb{
    background-color: black;
}
.div1{
display: flex;
justify-content: center;
}
.div2{
    width: 480px;
    height: 54px;
}
.div3{
    width: 480px;
    height: 54px;
    margin-top: 30px;
}
.div4{
    width: 480px;
    height: 54px;
    margin-top: 30px;
}

.div6{
    width: 242px;
    height: 68px;
    background: #FED136;
    margin-top: 30px;
}
.contact{
    font-family: Montserrat;
    font-weight: bold;
    text-transform: uppercase;
    color: #FFFFFF;
    font-size: 40px;
    line-height: 49px;
}
.place{
    width: 455px;
    height: 50px;
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    padding-left: 20px;
    border-radius: 3px;
}
.placeh{
    resize: none;
    width: 458px;
    height: 218px;
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 3px;
    padding-left: 22px;
}
.obertvach{
display: flex;
justify-content: center;

}
.button{
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    color: #FFFFFF;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    width: 242px;
    height: 68px;
    background: #FED136;
    align-items: center;
}
.col2{
margin-left: 30px;
}
.bult{
    display: flex;
    justify-content: center;
}
.placeh::placeholder{
    color: #BBBBBB;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: flex-end;
    letter-spacing: -0.35px;
    text-transform: uppercase;
}
.place::placeholder{
    color: #BBBBBB;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: flex-end;
    letter-spacing: -0.35px;
    text-transform: uppercase;
}
.ulica{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}
.linka{
    text-decoration: none;
    color: #FED136;
}